# Required on BUILD
SENTRY_URL=https://a98cb24ac5714db0a7cb02a28b6b6df2@sentry.io/1887294
GIT_COMMIT=

NODE_ENV=development
REACT_LIBRARY=react

HOT_RELOAD=true
HOT_RELOAD_PORT=401
HOT_RELOAD_CLIENT_URL=/reload/reload.js

# Webpack config
POLYFILLING=false
DROP_CONSOLE=false
FILENAME_HASH=false
CIRCULAR_CHECK=true
SPEED_ANALYZER=false
BUNDLE_ANALYZER=false
MINIMIZE_CLIENT=false
MINIMIZE_SERVER=false
AGGREGATION_TIMEOUT=2500
GENERATE_COMPRESSED=false
BUNDLE_ANALYZER_PORT=8889
SPEED_ANALYZER_SERVER=false

# @docs: https://webpack.js.org/configuration/devtool
DEV_TOOL=false
DEV_TOOL_SERVER=false

# Required on RUN
NODE_PATH=./src
HTTPS_BY_NODE=true
EXPRESS_PORT=80
# In milliseconds, 1000 (= 1 second) * 60 (= 1 minute) * 20 (= 20 minutes)
SESSION_DURATION=1200000
ALLOWED_EMAILS=
SESSION_SECRET=

YANDEX_STORAGE_ENABLED=false
YANDEX_STORAGE_ACCESS_KEY_ID=
YANDEX_STORAGE_SECRET_ACCESS_KEY=
