@import "mixins.scss";

.buttonsLine {
  text-align: center;
  margin-bottom: 20px;

  .uploadButton {
    @include button-yellow;
  }
}

.gallery {
  margin: 0 auto 50px auto;
  position: relative;
  user-select: none;
  min-height: 1000px;

  .item {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    //opacity: 0;
    cursor: pointer;
    //animation-name: fadeIn;
    //animation-timing-function: ease;
    //animation-fill-mode: forwards;
    //animation-duration: 0.7s;

    img {
      width: 100%;
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: $W2alpha;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
}
