@import "mixins.scss";

.buttonsLine {
  text-align: center;
  margin-bottom: 20px;

  .uploadButton {
    @include button-yellow;
  }
}

.galleryWrapper {
  position: relative;
  width: 100%;
  padding: 50px 100px 100px 50px;

  :global {
    .ScrollbarsCustom-Content {
      height: 100%;
      padding-right: 50px !important;
    }
  }
}

.gallery {
  user-select: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;

  .item {
    cursor: pointer;
    width: 50%;
    padding: 1px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 100%;

    .itemInner {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    .caption {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: var(--scroll-track-bg);
      transition: top 0.2s, padding 0.2s;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 30px 30px var(--scroll-track-bg);

      .captionTitle {
        color: var(--main-opposite);
        font-size: 18px;
        line-height: 21px;
      }
    }

    &:hover {
      .caption {
        top: 85%;
        padding-bottom: 20px;
      }
    }
  }
}

.controls {
  position: absolute;
  z-index: 1;
  width: 200px;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--header-bg);
  height: 40px;
  border-radius: 5px;
  user-select: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 10px;

  .control {
    color: var(--link-inactive);
    transition: color 0.2s;
    font-size: 16px;
    cursor: pointer;
    padding: 12px 10px;

    &:hover {
      color: var(--link-active);
    }
  }
}

.footer {
  position: absolute;
  z-index: 1;
  left: 50px;
  bottom: 40px;
}
