@import "mixins.scss";

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  animation-name: fadeIn;
  transition-property: opacity;
  overflow: auto;

  .backdropInner {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.isLeaving {
    opacity: 0;
  }
}

.modal {
  font-size: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 600px;
  background: var(--base-bg);
  padding: 50px 110px;
  border-radius: 10px;
  transition-property: opacity;
  margin: 50px 20px 20px 20px;

  .close {
    position: absolute;
    top: -45px;
    right: -90px;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    color: var(--link-inactive);
    transition: color 0.2s;

    &:hover {
      color: var(--link-active);
    }
  }

  .title {
    font-family: Liana;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    padding-bottom: 60px;

    &.linkStyle {
      color: var(--link-active);
    }
  }

  .modalContent {
    padding-top: 10px;
  }

  .modalButtons {
    padding-top: 20px;
    text-align: right;

    .modalButton {
      margin-left: 15px;
    }
  }

  &.isLeaving {
    opacity: 0;
  }
}

@media screen and (max-width: 800px) {
  .modal {
    width: 100%;
    padding: 30px 20px;

    .close {
      right: -10px;
    }
  }
}
