$B_700: var(--b700);
$B_800: var(--b800);
$R_400: var(--r400);
$R_500: var(--r500);
$Y_400: var(--y400);
$Y_500: var(--y500);
$G_500: var(--g500);
$W2: var(--w2);
$W2alpha: var(--w2alpha);
$W6: var(--w6);
$W8: var(--w8);

// Other
$line_height: 24px;
