@import "reset.scss";
@import "mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap&subset=cyrillic,cyrillic-ext");

body {
  font-family: "Roboto", Tahoma, sans-serif;
  font-size: 18px;
  line-height: $line_height;
  background: $W2;
  position: relative;
  color: $W8;
  height: 100%;
  overflow-x: hidden;

  @media (max-width: 800px) {
    font-size: 16px;
  }
}

* {
  outline: none;
}

a {
  text-decoration: none;
  color: $B_800;
  transition: color 0.2s;

  &:hover {
    color: $B_700;
  }
}

p {
  margin-bottom: 15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $W2 inset !important;
  -webkit-text-fill-color: $W8 !important;
}
