.light {
  --b700: #03a5ec;
  --b800: #039bdd;
  --r400: #fa8272;
  --r500: #fa6458;
  --y400: #f7d10d;
  --y500: #fdca12;
  --g500: #24be46;
  --w2: #ffffff;
  --w2alpha: rgba(255, 255, 255, 0.5);
  --w6: #9099a3;
  --w8: #000000;
}

.dark {
  --b700: #03a5ec;
  --b800: #039bdd;
  --r400: #fa8272;
  --r500: #fa6458;
  --y400: #f7d10d;
  --y500: #fdca12;
  --g500: #24be46;
  --w2: #000;
  --w2alpha: rgba(0, 0, 0, 0.5);
  --w6: #a8b6c4;
  --w8: #fdfdfe;
}
