@import "mixins.scss";

$header_height: 80px;

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background: var(--header-bg);
  padding: 0 60px;
  height: $header_height;
  position: relative;
  z-index: 3;
  transition: background-color 0.2s;

  .menuWrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-grow: 1;
  }

  .logo {
    flex-grow: 0;
    font-family: Liana;
    font-size: 30px;
    line-height: 30px;
    user-select: none;

    &.linkStyle {
      color: var(--link-active);
    }
  }

  .menu {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    font-size: 18px;
    line-height: 80px;
    justify-content: center;

    .menuItem {
      text-transform: lowercase;
      padding: 0 25px;

      &.active {
        cursor: default;
        color: var(--link-active);
      }
    }
  }

  .menuItem,
  .languageToggler,
  .themeIcon,
  .logoutIcon {
    color: var(--link-inactive);
    user-select: none;
    transition: color 0.2s;

    &:hover {
      color: var(--link-active);
    }
  }

  .themeChanger {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .themeSwitcher {
      @include switcher(30px, 14px);
    }
  }

  .languageToggler,
  .themeIcon,
  .logoutIcon {
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    margin-left: 15px;

    &.languageToggler {
      margin-left: 0;
      margin-right: 40px;
    }

    &.logoutIcon {
      margin-left: 40px;
    }

    &.themeIcon {
      // Let left space being interactive
      padding-left: 15px;
      margin-left: 0;
    }
  }
}

.header.isMobile {
  padding: 0;
  height: 60px;
  background: var(--main);

  .burgerIcon {
    color: var(--link-inactive);
    transition: color 0.2s;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;

    &:hover {
      color: var(--link-active);
    }
  }

  .logoutIcon {
    padding: 20px;
    margin: 0 !important;
    font-size: 20px !important;
  }

  .logo {
    flex-grow: 1;
    text-align: center;
    font-size: 25px;
    line-height: 25px;
  }

  .menuWrapper {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 60px;
    right: 0;
    bottom: 0;
    background: var(--main);
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 20px;
    justify-content: space-around;
    transition: background 0.2s;

    &.closed {
      display: none;
    }
  }

  .menu {
    flex-flow: column nowrap;
    justify-content: flex-start;
    flex-grow: 0;
    border-bottom: 1px solid #e9e6e2;
    padding-bottom: 30px;

    .menuItem {
      @include button-yellow;
      background: transparent;
      border: 0;
      font-size: 24px;
      margin-bottom: 14px;
    }
  }

  .languageToggler {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    font-size: 24px;
  }

  .themeChanger {
    padding: 50px 0 20px 0;
    justify-content: center;
    border-top: 1px solid #e9e6e2;
  }
}
